*{
	font-family: "Roboto Mono", monospace;
	color: #ffffff;
}
body{
	height: 100vh;
	background-color: #02070d;
}
.box{
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}
.container{
	width: 320px;
}
.clock{
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.06);
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	padding: 50px 25px;
	-webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
	box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
	border: 1.5px solid rgba(255, 255, 255, 0.06);
	border-radius: 8px;
}
.shape1{
	height: 150px;
	width: 150px;
	position: absolute;
	background: linear-gradient(315deg, #ff5b84, #eb3461);
	background: linear-gradient(135deg, #ff5b84, #eb3461);
	border-radius: 50%;
	bottom: 130px;
	right: -50px;
	z-index: -1;
}
.shape2{
	height: 150px;
	width: 150px;
	position: absolute;
	background: linear-gradient(315deg, #426cf8, #3ebdf0);
	background: linear-gradient(135deg, #426cf8, #3ebdf0);
	border-radius: 50%;
	top: 100px;
	left: -50px;
	z-index: -1;
}
.wrapper{
	text-align: center;
}
#time{
	font-size: 40px;
	display: inline-block;
}
#day{
	position: relative;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #c5c5c5;
	text-align: center;
}
#midday{
	display: inline-block;
	font-size: 30px;
}