* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(37,145,251,0.98) 0.1%, rgba(0,7,128,1) 99.8% );
}

.wrapper {
    display: grid;
    place-items: center;
    height: 100vh;
}

.card {
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#textarea {
    outline: none;
    padding: 8px;
}

.bottom {
    display: flex;
    justify-content: center;
    gap: 50px;
}