@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.form{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(https://img3.akspic.ru/attachments/crops/7/0/3/4/44307/44307-priroda-pihta-dymka-les-ekosistema-1920x1080.jpg);
  font-family: Cuprum;
  background-size: cover;
}
.center{
  position: relative;
  padding: 50px 50px;
  backdrop-filter: blur(4px);
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  box-shadow: 20px 20px 120px #000;
  border-radius: 10px;
  color: #fff;
}
.center h1{
  font-size: 2em;
  border-left: 5px solid dodgerblue;
  padding: 10px;
  color: #fff;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox{
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 50px;
}
.center input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #fff;
  color: #fff;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}
.center .inputbox:last-child{
  margin-bottom: 0;
}
.center .inputbox span{
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
}
.center .inputbox input:focus ~ span,
.center .inputbox input:valid ~ span{
  transform: translateX(-13px) translateY(-35px);
}
.center .button{
  display: flex;
  justify-content: center;
}
.center .btn{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.2s;
}
.center .btn:hover{
  background-color: rgb(207, 207, 207);
}
