* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.center-text {
  width: 100%;
  height: 200px;
}

.center-text h1 {
  font-size: 4.7em;
  font-weight: 700;
}

.header-center p {
  width: 530px;
  color: #b5c0cb;
}

.header-center > div > hr {
  width: 173px;
  height: 4px;
  background-color: #fff;
  cursor: pointer;
}

.main {
  position: relative;
  display: block;
  width: 80%;
  background-color: #F1F5F8;
  padding: 20px;
  bottom: -25%;
  left: 10%;
}

.main .item {
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 180px;
  border-radius: 15px;
}

.item img {
  width: 50%;
}

.slick-next {
  position: absolute;
  right: 0;
  top: 42%;
  z-index: 999;
}

.slick-prev {
  position: absolute;
  left: 0;
  bottom: 42%;
  z-index: 999;
}