* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.item {
    width: 300px;
}

.shape {
    width: 100px;
    height: 100px;
    background-color: red;
}

button:active {
    transform: scale(0.95);
    transition: .1s linear;
}