* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fa8bff;
  background: linear-gradient(
    225deg,
    #fa8bff 0%,
    #2bd2ff 52%,
    #2bff88 90%
  ) no-repeat;
  height: 100vh;
}

p,
h3 {
  margin: 0;
}

#posts {
  max-height: 400px;
  overflow-y: auto;
  width: 640px;
}

#posts::-webkit-scrollbar {
  width: 20px;
}

#posts::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #8CC3EB;
}

#posts::-webkit-scrollbar-thumb {
  background-color: #CAF8FA;
  border-radius: 10px;
}

.post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #caf8fa;
  width: 600px;
  padding: 8px;
  border-radius: 10px;
  margin: 10px 0;
}

.post i {
  font-size: 20px;
  cursor: pointer;
}

.func {
  display: flex;
  gap: 18px;
}

#textarea {
  border: 1.2px solid #000;
  border-radius: 12px;
  outline: none;
  background: transparent;
}
