* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: cornsilk;
}

.counter-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 30px 60px;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.counter-container h1 {
    font-size: 35px;
}

.counter-container hr {
    width: 100%;
    border-color: #010101;
    margin-bottom: 20px;
}

#count-number {
    font-size: 75px;
    font-weight: bold;
    margin: 20px 0 0;
}

.function-buttons {
    display: flex;
    gap: 12px;
}

.function-buttons button {
    font-size: 16px;
    padding: 12px 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.function-buttons button:first-child {
    background-color: crimson;
    color: #fff;
}

.function-buttons button:last-child {
    background-color: limegreen;
    color: #fff;
}

.function-buttons button:active {
    transform: scale(.97);
}